.vscode/
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css/
/public/images/
/public/js
/public/*.js
/public/*.map
/public/mix-manifest.json
.idea/
.phpstorm.meta.php
_ide_helper.php
storage/testing/
.vapor/
.env.production
.env.staging
/.blueprint
bootstrap/cache/*
!bootstrap/cache/.gitkeep
storage/medialibrary
