
.fa-angle-down:before { content: '\e800'; } /* '' */
.fa-bath:before { content: '\e801'; } /* '' */
.fa-bell:before { content: '\e802'; } /* '' */
.fa-caret-down:before { content: '\e803'; } /* '' */
.fa-caret-up:before { content: '\e804'; } /* '' */
.fa-door-open:before { content: '\e805'; } /* '' */