
.fa-angle-down:before { content: '\e800'; } /* '' */
.fa-bath:before { content: '\e801'; } /* '' */
.fa-bell:before { content: '\e802'; } /* '' */
.fa-caret-down:before { content: '\e803'; } /* '' */
.fa-caret-up:before { content: '\e804'; } /* '' */
.fa-door-open:before { content: '\e805'; } /* '' */
.fa-check:before { content: '\e806'; } /* '' */
.fa-clipboard-list:before { content: '\e807'; } /* '' */
.fa-file-invoice-dollar:before { content: '\e808'; } /* '' */
.fa-list-alt:before { content: '\e809'; } /* '' */
.fa-pencil-ruler:before { content: '\e80a'; } /* '' */
.fa-angle-left:before { content: '\e80b'; } /* '' */
.fa-angle-right:before { content: '\e80c'; } /* '' */
.fa-times:before { content: '\e80d'; } /* '' */